# The URL for the Vendure API.
# You can use your local server (e.g., http://localhost:3000/shop-api) or our public demo server for testing: https://readonlydemo.vendure.io/shop-api
VENDURE_API_URL=https://readonlydemo.vendure.io/shop-api

# The environment in which the application is running (e.g., development, production)
NODE_ENV=development

# The default port for the storefront
PORT=8002

# Razorpay API key (if using Razorpay for payments)
RAZORPAY_KEY_ID=
RAZORPAY_KEY_SECRET=

# WhatsApp Chat Widget configuration
WHATSAPP_NUMBER=
